html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* スクロール完全禁止 */
}

body {
  background: url("img/cork.jpg");
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center; /* ← これが重要（上下中央） */
}

canvas {
  display: block;
  background: url("img/cork.jpg");
  background-size: cover;
}